<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ site.data.main_info.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ page.title }}">
  <meta name="author" content="{{ site.data.main_info.name }}">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/skeleton/normalize.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/external/skeleton/skeleton.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/my_css.css" | prepend: site.baseurl }}>

  <!-- JQuery
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src={{ "/libs/external/jquery-3.1.1.min.js" | prepend: site.baseurl }}></script>

  <!-- Font-Awesome
  ––––––––––––––––––––––––––––––––––––––––––––––––––  -->
  <link rel="stylesheet" href={{ "/libs/external/fontawesome-free-6.6.0-web/css/all.min.css" | prepend: site.baseurl }}>

  <!-- Academicons
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/academicons-1.8.6/css/academicons.min.css" | prepend: site.baseurl }}>

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src={{ "/libs/custom/my_js.js" | prepend: site.baseurl }}></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href={{ "/libs/favicon.png" | prepend: site.baseurl }}>
  <link rel="shortcut icon" type="image/png" href={{ "/libs/favicon.png" | prepend: site.baseurl }}>

  <!-- Mastodon Linkback
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% if site.data.main_info.mastodon %}
  <link href="{{ site.data.main_info.mastodon }}" rel="me">
  {% endif %}

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

    <section class="header" style="margin-top: 5rem;">
      <h2>{{ page.title }}</h2>
      {% if page.subtitle %}
      <h5 style="color: #999;">{{ page.subtitle }}</h5>
      {% endif %}
    </section>

    {{ content }}

    <div class="footer">
      <div class="row">
        <div class="four columns">
          {{ site.data.main_info.name }}
        </div>
        <div class="four columns">
          {{ site.data.main_info.email }}
        </div>
        <div class="four columns">
          {% if site.data.main_info.twitter %}
          <span onclick="window.open('{{ site.data.main_info.twitter }}')" style="cursor: pointer">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </span>
          {% endif %}
          {% if site.data.main_info.linkedin %}
          <span onclick="window.open('{{ site.data.main_info.linkedin }}')" style="cursor: pointer">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </span>
          {% endif %}
          {% if site.data.main_info.github %}
          <span onclick="window.open('{{ site.data.main_info.github }}')" style="cursor: pointer">
            <i class="fa fa-github" aria-hidden="true"></i>
          </span>
          {% endif %}
          {% if site.data.main_info.google_scholar %}
          <span onclick="window.open('{{ site.data.main_info.google_scholar }}')" style="cursor: pointer">
            <i class="ai ai-google-scholar ai-lg" aria-hidden="true"></i>
          </span>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

  <!-- Google Analytics -->
  {% include google_analytics.html %}

  <!-- do not remove -->
  <span id="62cd7b7da1aff3196fdc26b60e396df9"></span>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
